a {
    color: #3cd6f9;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem;
    margin: 0 0.5rem;
    transition: all 0.2s ease-in;
    background-color: #e4aaf4;
    border-radius: 40px;
}

a:hover {
    color: #e10acf;
}