.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.project {
    height: 300px;
    width: 500px;
    border: 5px solid rgb(10, 1, 12);
    opacity: 0.7;
    max-width: 300px;
    min-height: 300px;
    max-height: 400px;
    flex-basis: calc(50% - 1em);
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 20px 0;
    margin: .25em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 100%;
    transition: all 0.5s;
    font-size: 0 rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project:hover {
    background-color: rgb(206, 224, 232);
    opacity: 70%;
}

.project a {
    color: #ebeef3;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem;
    margin: 0 0.5rem;
    transition: all 0.2s ease-in;
    background-color: #fff;
    border-radius: 50px;
}

.project a:hover {
    color: #030003;
}

.project-writing {
    opacity: 0;
}

.project-writing:hover {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    color: black;
    background-color: white;
    opacity: 80%;
}


.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}