body {
    background-image: url("https://wallpapercave.com/wp/wp7775329.jpg");
    background-color: #cccccc;
}
    .center{
        text-align: center;
        display: block;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 25%;
        height: 10%;
      }
@media only screen and (max-width: 600px) {
    .col-1 a {
        font-size: 8px;
    }

    .col-2 {
        width: 100%;
    }

    .col-3  {
        height: 15%;
    }

    .col-3 a {
        border-radius: 50%;
        padding-left: 5;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 75%;
    }

    .col-3 img {
        width: 50%;
    }
  }